<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매치 찾기 중...</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<header>
    <div class="container">
        <h1>우리동네 축구팀</h1>
        <nav>
            <ul>
                <li><a href="/">홈</a></li>
                <li><a href="/matchMain">매치 찾기</a></li>
                <li><a href="#">매치 생성</a></li>
                <li><a href="#">팀 등록</a></li>
                <li><a href="#">팀 순위</a></li>
                <li><a href="#">마이 페이지</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="loader-wrapper">
    <div class="loader"></div>
    <h2 class="loading-text">매칭팀 찾는중...</h2>
</div>
<div>
    <button id="stop_match" name="matchButton" onclick="toggleMatchButton()">매칭 중지</button>
</div>
<div id="matchListContainer">
    <table id="matchTable">
        <thead>
        <tr>
            <th class="cell-style centered-text" style="width: 100px;">날짜</th>
            <th class="cell-style centered-text" style="width: 100px;">시간</th>
            <th class="cell-style centered-text" style="width: 700px;">경기장</th>
            <th class="cell-style centered-text" style="width: 300px;">팀명</th>
            <th class="cell-style centered-text" style="width: 150px;">매칭 여부</th>
            <th class="cell-style centered-text" style="width: 200px;">경기시작 여부</th>
        </tr>
        </thead>
        <tbody id="matchTableBody">
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    //매치 목록 조회 api 호출
    function selectMatchList() {
       $.ajax({
           url: "http://localhost:8080/match/selectMatch",
           type: "GET",
           success: function(response) {
               console.log(response);

               //매칭 정보 렌더링
               renderList(response);

           },
           error: function(xhr, status, error) {
               console.error(status, error);
           }
       });
   }


    //매칭 정보 렌더링 함수 호출
    function renderList(data) {
        var matchListContainer = $("#matchTableBody");
        matchListContainer.empty();

        for (var i = 0; i < data.length; i++) {
            var mathInfo = data[i];
            var row = $("<tr>");

            // 각 팀 정보를 열로 추가
            row.append($("<td>").text(mathInfo.match_date).addClass("cell-style"));
            row.append($("<td>").text(mathInfo.match_time).addClass("cell-style"));
            row.append($("<td>").text(mathInfo.stad_name).addClass("cell-style"));
            row.append($("<td>").text(mathInfo.home_team).addClass("cell-style"));
            row.append($("<td>").text(mathInfo.match_cpl_ysno).addClass("cell-style"));
            row.append($("<td>").text(mathInfo.start_ysno).addClass("cell-style"));
        matchListContainer.append(row);
        }
    }

    //페이지 접근 후 바로 api 호출
   document.addEventListener("DOMContentLoaded", function() {
       selectMatchList();
   });

   //매칭 버튼 조작
   function toggleMatchButton() {
       var button = document.getElementsByName("matchButton")[0];
       var loader = document.querySelector('.loader');
       var loadText = document.querySelector('.loading-text');

       if (button.textContent === "매칭 중지") {
           button.textContent = "매칭 시작";
           button.id = "start_match";

           loader.style.animationPlayState = 'paused';
           loadText.textContent = "";

       } else {
           button.textContent = "매칭 중지";
           button.id = "stop_match";

           loader.style.animationPlayState = 'running';
           loadText.textContent = "매칭팀 찾는중...";

           //match 리스트 호출
           selectMatchList();
       }
   }

</script>
</body>
</html>
