<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매치 찾기 중...</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<header>
    <div class="container">
        <h1>풋살 매칭 서비스</h1>
        <nav>
            <ul>
                <li><a href="/">홈</a></li>
                <li><a href="/matchMain">매치 찾기</a></li>
                <li><a href="#">매치 생성</a></li>
                <li><a href="#">마이 페이지</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="loader-wrapper">
    <div class="loader"></div>
    <h2 class="loading-text">매칭팀 찾는중...</h2>
</div>
<div id="matchListContainer"></div>
<button id="stop_match" name="matchButton" onclick="toggleMatchButton()">매칭 중지</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    //매치 목록 조회 api 호출
    function selectMatchList() {
       $.ajax({
           url: "http://localhost:8080/match/selectMatch",
           type: "GET",
           success: function(response) {
               console.log(response);
               renderList(response);

           },
           error: function(xhr, status, error) {
               console.error(status, error);
           }
       });
   }

    function renderList(data) {
        var matchListContainer = $("#matchListContainer");
        matchListContainer.empty();

        for (var i = 0; i < data.length; i++) {
            var listItem = $("<div>").text(data[i].match_num);
            matchListContainer.append(listItem);
        }
    }

    //페이지 접근 후 바로 api 호출
   document.addEventListener("DOMContentLoaded", function() {
       selectMatchList();
   });

   //매칭 버튼 조작
   function toggleMatchButton() {
       var button = document.getElementsByName("matchButton")[0];
       var loader = document.querySelector('.loader');
       var loadText = document.querySelector('.loading-text');

       if (button.textContent === "매칭 중지") {
           button.textContent = "매칭 시작";
           button.id = "start_match";

           loader.style.animationPlayState = 'paused';
           loadText.textContent = "";

       } else {
           button.textContent = "매칭 중지";
           button.id = "stop_match";

           loader.style.animationPlayState = 'running';
           loadText.textContent = "매칭팀 찾는중...";

           //match 리스트 호출
           selectMatchList();
       }
   }

</script>
</body>
</html>
